@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');


:root {
  --background: #2e5466;
  --foreground: #2e5466;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #11445c;
    --foreground: #2e5466;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes twinkle {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.animate-twinkle {
  animation: twinkle 5s infinite;
}


/* custom-scrollbar.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d3748; /* Tailwind gray-800 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4a5568; /* Tailwind gray-700 */
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #718096; /* Tailwind gray-600 */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #2d3748;
}


.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Chrome and Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #2d3748;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Add this to your global or component-specific styles */
.btn-read-more {
  background-color: #28a745; /* Green color */
  color: #fff;               /* White text */
  padding: 0.5rem 1rem;       /* Consistent padding */
  border-radius: 0.375rem;    /* Rounded corners */
  text-align: center;         /* Center text */
  display: inline-block;      /* Ensure button-like appearance */
  font-size: 1rem;            /* Font size for consistency */
  transition: background-color 0.3s ease; /* Smooth hover transition */
}

.btn-read-more:hover {
  background-color: #218838;  /* Darker green on hover */
}


